.form-control {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  input,
  textarea {
    width: 100%;
    margin-top: 5px;
  }
  small {
    color: $error-color;
    font-size: 13px;
    margin-top: 5px;
  }
}

label {
  font-size: 14px;
  font-weight: 300;
}
